@media screen and (min-width: 1200px) {
  .gallery {
    padding-bottom: 90px;
  }

  .gallery-titel {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
  }

  .gallery-titel h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    padding-top: 35px;
  }

  .gallery-titel p {
    font-size: 1.1rem;
  }

  .gallery-images {
    display: grid;
    padding-left: 20vw;
    padding-right: 20vw;
    gap: 10px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-images img {
    object-fit: cover;
    max-width: 500px;

    padding-top: 15px;
  }
}
